<?xml version="1.0" ?>
<model>
  <name>wooden_pallet_with_boxes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Daniel Choe</name>
    <email>example@domain.com</email>
  </author>
  <description>
    A wooden pallet with three cardboard boxes on top.
  </description>
</model>
